.tablapreg th, td, tr {
    border: 1px solid grey;
    padding: 5px;
}

.tablapreg thead {
    background: rgb(201, 200, 200);
    border: 1px solid black;
}

.inactiva {
    color:grey;
}

.correcta {
    color:green;
}

.incorrecta {
    color: darkred;
}

.boton {
    background-color: rgba(52,144,220,.5);
    color: black;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    /* font-size: 1em; */
}

.boton:hover {
    text-decoration: none;
    color: white;
    background-color:#4074a0;
}

.derecha {
    float: right;
}

.centrado {
    text-align: center;
}

.oculta {
    visibility: hidden;
}